<?xml version="1.0" ?>
<launch>
  <arg name="base"       value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="stacks"     value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
  <arg name="robot" default=""/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot_description)/robots/$(arg base)_$(arg stacks)_$(arg 3d_sensor).urdf.xacro' robot:=$(arg robot)"/>

  <!-- Send fake joint values and monitoring present joint angle -->
  <!--node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <param name="use_gui" value="True"/>
    <rosparam param="source_list">[/robotis_op3/joint_states, /joint_states]</rosparam>
  </node-->

  <!-- Combine joint values -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="head_robot_state_publisher">
    <remap from="/joint_states" to="/robotis_op3/joint_states" />
  </node>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <remap from="/joint_states" to="/joint_states" />
  </node>


  <!-- Show in Rviz   -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find op3_bringup)/rviz/op3_full.rviz"/>
</launch>
